@model PetBuddy.Web.Models.SanPham

<h2>THÊM SẢN PHẨM</h2>

@using (Html.BeginForm())
{
    <p>Tên: @Html.TextBoxFor(m => m.TenSanPham)</p>
    <p>Giá: @Html.TextBoxFor(m => m.Gia)</p>
    <p>Số lượng: @Html.TextBoxFor(m => m.SoLuong)</p>
    <p>Mô tả: @Html.TextBoxFor(m => m.MoTa)</p>
    <p>Mã danh mục: @Html.TextBoxFor(m => m.MaDanhMuc)</p>

    <button type="submit">Lưu</button>
}
